.users {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.userCard {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 10px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.btn {
  max-width: fit-content;
  padding: 5px 15px;
}
